/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  /*color: #768776;*/
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 8rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.main-carousel {
  height: 32rem;
}
.main-carousel > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

/* stylelint-disable selector-list-comma-newline-after */

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*
 * Page posts
 */
.page-post {
  margin-bottom: 4rem;
}
.page-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.page-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * button
 */
.rounded-curve{
  border-radius: 50px;
  color: black;
}

/*
* additional
*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.nav-item {
  margin: 15px;
}
.active-p {
  font-size: 20px;
  color: #02ffff;
}
.carousel-border {
  border: 1px solid aquamarine;
  padding: 15px;
}
.faq-btn {
  padding: 8px 8em;
}
footer > p > span {
  padding: 0 20px 0 20px;
}
footer > p > span > a {
  color: #fff;
}
.b-none {
  border: none !important;
}
.table-item{
  list-style: none;;
}
.pt-50 {
  padding-top: 55px !important;
}